{{ define "main" }}

<h1>Présentation</h1>

<p>
Simple blog de réflexion <a href="https://www.cnrtl.fr/definition/politique">politique</a>  <a href="a-propos/">(En savoir plus)</a>
</p>
<br/>

<h1>Derniers articles</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 ((where .Pages ".Params.private" "!=" true) sort .Data.Pages "Date" "desc")}}
        <div class="post">
            <div class="date">{{ .Description }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Dernières vidéos</h1>

<div class="posts-list">
{{ with .Site.GetPage "/videos" }}
    {{ range first 3 ((where .Pages ".Params.private" "!=" true) sort .Data.Pages "Date" "desc")}}
        <div class="post">
            <div class="date">{{ .Description }}</div>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>
    {{ end }}
{{ end }}

{{ end }}
