---
title: "Covid19"
date: 2020-05-10T16:24:51+02:00
description: Pertinentes
categories: ["videos"]
tags: [ "coronavirus", "covid" ]
draft: true
---
<p> C'est une liste de vidéos pertinentes  mais non ordonnées sur le coronavirus.</p>

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLsUyhvgd4eJyL-tLPD0EqBNEbS5s9kVsy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
